/*** CSS HEADER ****/

#logo {
    font-size: 2.5rem;
    color: #EC8823;
}

header {
    border-bottom: 1px groove black;
}

#search_button {
    color: #EC8823;
    border: 1px solid #EC8823;
}

#search_button:hover {
    color: white;
    background-color: #EC8823;
    border: 1px solid #EC8823;
}

/*** Header Bottom***/
.headerbottom {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px outset black;
}

ul {
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

@media screen and (max-width: 900px) {
    ul {
       width: 100%;
    }

    ul li {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
}

li {
    font-size: 25px;
}
a {
    color: black;
}
a:hover {
    color: #EC8823 !important;
}



.buttondeco {
    background-color: #EC8823;
    color: white;
    border-color: #EC8823;
}

.navbar-toggler {
    background-color: #EC8823 !important;
}


/*** FOOTER ***/

.footer {
    margin-top: auto ;
    border-top: 1px outset black;
    width:100%;
    height:50px; 
    bottom: 0;
}
.copyright { 
    border-top: 1px outset black;
    display: flex;
    justify-content: center;
}

