/*** CSS HEADER ****/

#logo {
    font-size: 2.5rem;
    color: #EC8823;
}

header {
    border-bottom: 1px groove black;
}

#search_button {
    color: #EC8823;
    border: 1px solid #EC8823;
}

#search_button:hover {
    color: white;
    background-color: #EC8823;
    border: 1px solid #EC8823;
}

/*** Header Bottom***/
.headerbottom {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px outset black;
}

ul {
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

li {
    font-size: 20px;
}

li:hover {
    color: #EC8823;
} */

.buttondeco {
    background-color: #EC8823;
    color: white;
    border-color: #EC8823;
}

/*** FOOTER ***/

.footer {
    border-top: 1px outset black;
}
.copyright { 
    border-top: 1px outset black;
    display: flex;
    justify-content: center;
}

