.btn-login {
    color:white;
    background-color: #EC8823 !important;
    border-color: #EC8823 !important;
}

.btn_login:hover {
    color:#EC8823 !important;
    background-color: white !important;
    border-color:#EC8823 !important;
}